.successContainer {
  background-image: url(../../../assets/MissionSuccess.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  place-items: center;
}

.success_heading {
  color: whitesmoke;
  background-color: rgb(165, 106, 33);
  opacity: 0.5;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.detials_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.success_details {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 75, 77);
  opacity: 0.6;
  padding: 15px;
  border-radius: 10px;
}

.success_btn {
  background-color: rgb(78, 218, 73);
  color: whitesmoke;
  padding: 10px 20px;
  border: 3px solid rgb(19, 233, 12);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: ease-in-out 0.2s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.success_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
